AcceptEnv LANG LC_*
AllowTcpForwarding no
AllowUsers ftp
ChallengeResponseAuthentication no
ChrootDirectory /mount
HostbasedAuthentication no
HostKey /etc/ssh/ssh_host_rsa_key
HostKey /etc/ssh/ssh_host_dsa_key
HostKey /etc/ssh/ssh_host_ecdsa_key
HostKey /etc/ssh/ssh_host_ed25519_key
KeyRegenerationInterval 3600
IgnoreRhosts yes
LoginGraceTime 30
LogLevel INFO
PasswordAuthentication CONFIG_REPLACE_PASSWORD_AUTHENTICATION
PermitEmptyPasswords no
PermitRootLogin no
Port 22
PrintMotd no
PrintLastLog yes
Protocol 2
PubkeyAuthentication yes
RhostsRSAAuthentication no
RSAAuthentication yes
ServerKeyBits 1024
StrictModes yes
#Subsystem sftp /usr/lib/openssh/sftp-server
Subsystem sftp internal-sftp
SyslogFacility AUTH
TCPKeepAlive yes
UsePAM yes
UsePrivilegeSeparation yes
X11DisplayOffset 10
X11Forwarding no
